.bg-custom
{
	background: #0275dd !important;
}

.footer-height
{
	height:3.4vh;
	bottom: 0px;
	position: fixed;
}

.navbar .nav-item .nav-link
{
	font-size:20px;
	color:white;
}

.navbar .nav-item:hover .nav-link
{
	background: white;
	color:black;
	border-radius:10px;
}